# --- SafeX / SecureXion GitIgnore ---

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# MQTT & Paho Temp Files (Ensures no Paho files/folders are pushed)
paho*
**/paho*
*.lck

# Optional env configs
application-local.properties
application-prod.properties

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/